.container {
  padding: 0 2rem;
}

.formBody {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formBody input {
  width: 50%;
  margin: 5px;
}

.formBody button {
  cursor: pointer;
  border: none;
  background-color: #0070f3;
  width: 50%;
  border-radius: 15px;
  color: #eaeaea;
  padding: 4px 0;
}

.checkboxContainer {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  margin: 10px 0;
}

.checkboxContainer input {
  width: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}